---
- name: Configure webserver with nginx
  hosts: staging_servers
  become: true
  tasks:
    - name: Ensure nginx is installed
      package:
        name: nginx
        state: present
      notify: restart nginx

    - name: Copy nginx config file
      copy:
        src: files/nginx.conf
        dest: /etc/nginx/sites-available/default
        backup: yes
      notify: restart nginx

    - name: Enable configuration
      file:
        dest: /etc/nginx/sites-enabled/default
        src: /etc/nginx/sites-available/default
        state: link
      notify: restart nginx

    - name: Copy index.html
      template:
        src: templates/index.html.j2
        dest: /usr/share/nginx/html/index.html
      notify: restart nginx

  handlers:
    - name: restart nginx
      service:
        name: nginx
        state: restarted
